<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    {{>header}}
    <p>This site uses data from mapbox.com and darksky.net!!</p>

    {{>footer}}
</body>

</html>